/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Petrona', sans-serif;
    background-color: #161419;
    color: #D9D9D9;
    margin: 0;
    padding: 20px;
    line-height: 1.5;
}

header {
    background-color: #393543;
    color: #D9D9D9;
    padding: 15px;
    text-align: center;
    border: 2px solid #72766B;
    border-radius: 15px;
    font-family: 'Petrona';
 }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'inter';
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #D9D9D9;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

main {
    margin-top: 20px;
}

.post, .replies, #posts {
    background-color: #393543; 
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #72766B;
}

#post-section {
    background-color: #393543;
    color: #D9D9D9;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #72766B;
}

.post, .replies div {
    background-color: #393543; 
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

input[type="text"], textarea {
    width: calc(100% - 20px);
    padding: 7.5px;
    margin: 7.5px 0;
    border-radius: 4px;
    border: 2px solid #72766B; 
    background-color: #3f3f3f; 
    color: #D9D9D9; 
}

button {
    width: 100%;
    padding: 7.5px;
    margin-top: 7.5px;
    background-color: #7A51ED; 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #A98BFF;
    color: #161419;
}

#replyInput {
    margin-top: 20px;
}

#image-upload {
    border: 2px solid #72766B;
    border-radius: 15px;
    font-family: 'Petrona';
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}

